body {background-color: rgb(243, 117, 67);
    border-color: rgb(81, 228, 45);
    border-style: solid;
    border-bottom: 0px;
}

header {border-color: rgb(81, 228, 45);
    border-width: 2px;
    background-color: salmon;
    border-style: solid;
}

h1 {
    color: rgb(38, 235, 38);
    font-size: 100px;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
   color: #000;
   border-color:  rgb(81, 228, 45);
   border-top: 4px dotted rgb(81, 228, 45);

}

li {display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.layout {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 25px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }

#first {border-color: rgb(81, 228, 45);
    border-width: 2px;
    background-color: salmon;
    border-style: solid;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    

}

#second {border-color: rgb(81, 228, 45);
    border-width: 2px;
    background-color: salmon;
    border-style: solid;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
}

#firstimg{  width: 100%;
    height: 100%;}

#secondimg{  width: 100%;
        height: 100%;
    
    }

footer {text-align: center;
    border-top: 4px dotted  rgb(81, 228, 45) ;
    margin-top: 10px;
    background-color: salmon;
    margin-bottom: px;
}

h2 {  border-color:  rgb(81, 228, 45);
    border-bottom: 4px dotted rgb(81, 228, 45);
    color: rgb(38, 235, 38);
    font-size: 35px;
    padding-bottom: 10px;
    text-decoration-line: underline;
 }

#thoughts {color: rgb(38, 235, 38);
    font-size: 25px;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(243, 117, 67);
    border-color:  rgb(81, 228, 45);
}